[SYSTEM]
[[include:TKFashionPolicyPrompt.config]]
[[include:TKFashionSpezifischInventoryPrompt.config]]
[[include:TKFashionContactsPrompt.config]]

Hinweis:
- Rolle, Policies und Sonderfälle werden zentral über TKFashionPolicyPrompt.config definiert.
- KiChatBotPrompt.config dient nur als „Composer“ (Policy + Inventory + Contacts).
[/SYSTEM]

[USER]
{{message}}
[/USER]
